<div class=" mt-5 d-flex justify-content-center flex-column align-items-center text-center">
  <p>Ask your coach anything</p>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="bg-primary border border-none rounded px-2 text-light">
  </form>
</div>
